<div class="wrapper">
  <div class="issues-grid">
    <div class="title">
      <legend>
        <h1 class="no-margin">待處理列表</h1>
      </legend>
    </div>
    <div class="button-group">
      <div class="pure-button-group" role="group" aria-label="...">
        <button class="pure-button button-secondary button-xsmall" [ngClass]="{'pure-button-active': queryStatus==-1}"
          (click)="setQueryStatus(-1)">全部</button>
        <button class="pure-button button-secondary button-xsmall" [ngClass]="{'pure-button-active': queryStatus==0}"
          (click)="setQueryStatus(0)">提交</button>
        <button class="pure-button button-secondary button-xsmall" [ngClass]="{'pure-button-active': queryStatus==1}"
          (click)="setQueryStatus(1)">已追蹤</button>
        <button class="pure-button button-secondary button-xsmall" [ngClass]="{'pure-button-active': queryStatus==2}"
          (click)="setQueryStatus(2)">處理中</button>
        <button class="pure-button button-secondary button-xsmall" [ngClass]="{'pure-button-active': queryStatus==3}"
          (click)="setQueryStatus(3)">已解決</button>
      </div>
    </div>
    <div class="table">
      <app-issue-table [model]="pages[currentPage-1]" [page]="currentPage"></app-issue-table>
    </div>
    <div class="pagination">
      <app-pagination [total-items]="totalItems" [items-per-page]="itemsPerPage" (set-page)="setCurrentPage($event)"></app-pagination>
    </div>
  </div>
</div>
