<div class="wrapper">
  <div class="title">
    <h1>待處理列表</h1>
  </div>
  <div class="table">
    <table class="pure-table">
      <thead>
          <tr>
              <th>#</th>
              <th>狀態</th>
              <th>類別</th>
              <th>單號</th>
              <th>標題</th>
              <th>填寫人</th>
              <th>建立時間</th>
          </tr>
      </thead>
      <tbody>
          <tr [ngClass]="{'pure-table-odd': odd}"  *ngFor="let item of issues$ | async ; let index=index; let odd=odd;">
            <th>{{index}}</th>
            <th>{{item.status}}</th>
            <th>{{item.type}}</th>
            <th>{{item.id}}</th>
            <th>{{item.title}}</th>
            <th>{{item.createUser}}</th>
            <th>{{item.createTime | date: 'yyyy/mm/dd HH:ss'}}</th>
          </tr>
      </tbody>
  </table>
  </div>
  <div class="">

  </div>
</div>